flows/Case_Creation_through_Flow-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_case_values</name>
        <label>Assign case values</label>
        <locationX>288</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>oCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New DPP Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Mgmt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oCase.Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment Method</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Case_Not_Exists</name>
        <label>Is Case Not Exists</label>
        <locationX>284</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_case_values</targetReference>
            </connector>
            <label>Is Exist?</label>
        </rules>
    </decisions>
    <interviewLabel>Case Creation through Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case for Deferred Payment Plan</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>282</locationX>
        <locationY>282</locationY>
        <inputReference>oCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Cases</name>
        <label>Get Account Cases</label>
        <locationX>72</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Not_Exists</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New DPP Request</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>oCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Account_Cases</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
