flows/Offer_Segment-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Offer_segment_is_null</name>
        <label>Offer segment is null</label>
        <locationX>163</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Offer_Segment_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OfferSegments.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Offer_Segment</targetReference>
            </connector>
            <label>Is Offer Segment not found</label>
        </rules>
    </decisions>
    <interviewLabel>Offer Segment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offer Segment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Offer_Segment</name>
        <label>Create Offer Segment</label>
        <locationX>163</locationX>
        <locationY>353</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OfferSegment</elementReference>
            </value>
        </inputAssignments>
        <object>Offer_Segment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Offer_Segment_lookup</name>
        <label>Offer Segment lookup</label>
        <locationX>308</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Offer_segment_is_null</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferSegment</elementReference>
            </value>
        </filters>
        <object>Offer_Segment__c</object>
        <outputAssignments>
            <assignToReference>OfferSegments.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OfferSegments.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Offer_Segment_lookup</startElementReference>
    <variables>
        <name>OfferSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OfferSegments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Offer_Segment__c</objectType>
    </variables>
</Flow>
