flows/Opportunity_To_Order_OnlineSales-22.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Sets the order’s Status field to Activated.

Include this element if you want the new order to be activated.</description>
        <name>Activate_Order</name>
        <label>Set Order Status to Activated</label>
        <locationX>1135</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the order product to the list of order products in the sObject collection variable.</description>
        <name>Add_Order_Product_to_List</name>
        <label>Add Order Product to List</label>
        <locationX>685</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>listOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Oppty_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Billing_address</name>
        <label>Assign Order Billing address</label>
        <locationX>576</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>vOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Address_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uses the opportunity’s or account’s field values to assign field values to the order.

ACTION: Review the order fields assigned, and add/remove fields as needed.  

If you need fields from another object, use a Fast Lookup element to store the fields in another sObject variable before this element in the flow, and then assign the stored values to the order here.</description>
        <name>Assign_Order_Fields</name>
        <label>Assign Order Fields</label>
        <locationX>354</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>oOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signup</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Address_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Fields_For_Billing</name>
        <label>Assign Order Fields For Billing</label>
        <locationX>745</locationX>
        <locationY>29</locationY>
        <assignmentItems>
            <assignToReference>oOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signup</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Address_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Billing_Address_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uses the opportunity product’s or order’s field values to assign field values to the order product.

ACTION: Review the order product fields assigned, and add/remove fields as needed.  

If you need fields from another object, use a Fast Lookup element to store the fields in another sObject variable before this element in the flow, and then assign the stored values to the order product here.</description>
        <name>Assign_Order_Product_Fields</name>
        <label>Assign Order Product Fields</label>
        <locationX>513</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>oOrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpptyProduct.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpptyProduct.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpptyProduct.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Product_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Billing_Profile</name>
        <label>Set Order Billing Profile</label>
        <locationX>1239</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Billing_Profile_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingProfile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Address_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Billing_profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_order_Billing_profile_for_update</name>
        <label>set order Billing profile for update</label>
        <locationX>15</locationX>
        <locationY>1056</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Billing_Profile_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingProfile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Address_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oBillingProfile.Address_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Billing_Profile_for_order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_order_status_as_pending</name>
        <label>Set order status as pending</label>
        <locationX>1216</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Status_To_Draft</name>
        <label>Set Order Status To Draft</label>
        <locationX>168</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Status_to_Draft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Status_to_Pending</name>
        <label>Set Order Status to Pending</label>
        <locationX>23</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signup</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Draft_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Type</name>
        <label>Set Order Type</label>
        <locationX>303</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signup</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Draft_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quantity_Unit_Price</name>
        <label>Set Quantity Unit Price</label>
        <locationX>790</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>oOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpptyProduct.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpptyProduct.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_vOrderId_value</name>
        <label>set vOrderId value</label>
        <locationX>24</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>vOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Address_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the opportunity’s Order Generated field to true.</description>
        <name>Update_Order_Generated</name>
        <label>Update Order Generated</label>
        <locationX>839</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>oOppty.Order_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Billing_Address_for_Update</name>
        <label>Is Billing Address for Update?</label>
        <locationX>203</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Get_Billing_Address_For_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NotPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oOrder.Billing_Address_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_vOrderId_value</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Billing_Address_Present</name>
        <label>Is Billing Address Present</label>
        <locationX>362</locationX>
        <locationY>28</locationY>
        <defaultConnector>
            <targetReference>Get_Billing_Address_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vBillAddressID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Fields</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Exists</name>
        <label>Is Order Exists</label>
        <locationX>786</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Looping_Oppnity_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Is_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oOrderProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quantity_Unit_Price</targetReference>
            </connector>
            <label>Is Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Products_Equals</name>
        <label>Is Products Equals</label>
        <locationX>594</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Is_Order_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not equal</defaultConnectorLabel>
        <rules>
            <name>Is_Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oOpptyProduct.PricebookEntryId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oOrderProduct.PricebookEntryId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oOpptyProduct.Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oOrderProduct.Quantity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oOpptyProduct.UnitPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oOrderProduct.UnitPrice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Oppnity_Product</targetReference>
            </connector>
            <label>Is Equal</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates whether the sObject collection variable contains any order products.</description>
        <name>Order_Product_List_Empty</name>
        <label>Order Product List Empty?</label>
        <locationX>837</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listOrderProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Products</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates whether an order has already been generated from the opportunity.

If an order has already been generated from the opportunity, a new order will not be generated.</description>
        <name>OrderGenerated</name>
        <label>Order Generated?</label>
        <locationX>23</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>Get_Address_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oOppty.Order_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Details</targetReference>
            </connector>
            <label>Order Generated</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Order_Status</name>
        <label>What is Order Status?</label>
        <locationX>304</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>Set_Order_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending</defaultConnectorLabel>
        <rules>
            <name>Is_Status_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrderStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Status_to_Pending</targetReference>
            </connector>
            <label>Is Status Activated ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_order_status_value</name>
        <label>What is order status?</label>
        <locationX>1018</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Set_order_status_as_pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending</defaultConnectorLabel>
        <rules>
            <name>Is_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrderStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Order</targetReference>
            </connector>
            <label>Is Activated</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity_To_Order_OnlineSales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_To_Order_OnlineSales</label>
    <loops>
        <description>Iterates through each opportunity product in the sObject collection variable.</description>
        <name>Loop_Oppty_Products</name>
        <label>Loop Oppty Products</label>
        <locationX>513</locationX>
        <locationY>246</locationY>
        <assignNextValueToReference>oOpptyProduct</assignNextValueToReference>
        <collectionReference>listOpptyProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Product_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Product_List_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Oppnity_Product</name>
        <label>Looping Oppnity Product</label>
        <locationX>372</locationX>
        <locationY>840</locationY>
        <assignNextValueToReference>oOpptyProduct</assignNextValueToReference>
        <collectionReference>listOpptyProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Look_Record_In_order_item</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Uses the field values that are stored in the sObject variable to create an order.</description>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>544</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>Get_Oppty_Products</targetReference>
        </connector>
        <inputReference>oOrder</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Uses the field values that are stored in the sObject collection variable to create order products.</description>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>838</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Update_Order_Generated</targetReference>
        </connector>
        <inputReference>listOrderProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Address_Details</name>
        <label>Get Address Details</label>
        <locationX>23</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Billing_Address_for_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOrder.Address_Id__c</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>oAddress</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address_Name__c</queriedFields>
        <queriedFields>Address_Type__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Postal_Code__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>AccountCAN__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Queries the account on the opportunity, and stores selected account fields in an sObject variable.

ACTION: Review the retrieved account fields, and add any additional fields that you need to the sObject variable.</description>
        <name>Get_Address_Fields</name>
        <label>Get Address Fields</label>
        <locationX>181</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Billing_Address_Present</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCompAddressID</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>oAddress</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>AccountCAN__c</queriedFields>
        <queriedFields>Address_Name__c</queriedFields>
        <queriedFields>Address_Type__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Postal_Code__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Ship_To_Address__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Address_Fields</name>
        <label>Get Billing Address Fields</label>
        <locationX>564</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order_Fields_For_Billing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vBillAddressID</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>oBillingAddress</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>AccountCAN__c</queriedFields>
        <queriedFields>Address_Name__c</queriedFields>
        <queriedFields>Address_Type__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Postal_Code__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Ship_To_Address__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Address_For_Update</name>
        <label>Get Billing Address For Update</label>
        <locationX>390</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order_Billing_address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOrder.Billing_Address_Id__c</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>oBillingAddress</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address_Name__c</queriedFields>
        <queriedFields>Address_Type__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Postal_Code__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>AccountCAN__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Uses the Opportunity ID passed to the flow to look up the opportunity, and stores the selected opportunity fields in an sObject variable.

ACTION: Review the retrieved opportunity fields, and add any additional fields that you need to the sObject variable.</description>
        <name>Get_Opportunity_Fields</name>
        <label>Get Opportunity Fields</label>
        <locationX>24</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderGenerated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oOppty</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Order_Generated__c</queriedFields>
        <queriedFields>Order_Status__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opprtunity_Products</name>
        <label>Get Opprtunity Products</label>
        <locationX>188</locationX>
        <locationY>841</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Oppnity_Product</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOppty.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>listOpptyProducts</outputReference>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks up the opportunity products that are related to the opportunity, and stores selected field values in the sObject collection variable.

ACTION: Review the retrieved opportunity product fields, and add additional fields as needed to the sObject collection variable.</description>
        <name>Get_Oppty_Products</name>
        <label>Get Oppty Products</label>
        <locationX>340</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Oppty_Products</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOppty.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>listOpptyProducts</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>24</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Status_To_Draft</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>oOrder</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContractId</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Billing_Profile_Id__c</queriedFields>
        <queriedFields>Address_Id__c</queriedFields>
        <queriedFields>Billing_Address_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>25</locationX>
        <locationY>606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_Order_Status</targetReference>
        </connector>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOrder.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>listOrderProducts</outputReference>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetBillingProfile</name>
        <label>GetBillingProfile</label>
        <locationX>1234</locationX>
        <locationY>546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Billing_Profile</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vBillingProfileId</elementReference>
            </value>
        </filters>
        <object>Billing_Profile__c</object>
        <outputReference>oBillingProfile</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetBillingProfileForupdate</name>
        <label>GetBillingProfileForupdate</label>
        <locationX>19</locationX>
        <locationY>946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_order_Billing_profile_for_update</targetReference>
        </connector>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOppty.AccountId</elementReference>
            </value>
        </filters>
        <object>Billing_Profile__c</object>
        <outputReference>oBillingProfile</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_Record_In_order_item</name>
        <label>Look Record In order item</label>
        <locationX>373</locationX>
        <locationY>976</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Products_Equals</targetReference>
        </connector>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PricebookEntryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOpptyProduct.PricebookEntryId</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>oOrderProduct</outputReference>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Draft_Order</name>
        <label>Draft Order</label>
        <locationX>24</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Get_Opprtunity_Products</targetReference>
        </connector>
        <inputReference>oOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Profile_for_order</name>
        <label>Update Billing Profile for order</label>
        <locationX>175</locationX>
        <locationY>1055</locationY>
        <inputReference>oOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Uses the field values that are stored in the sObject variable to update the opportunity.</description>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>987</locationX>
        <locationY>461</locationY>
        <connector>
            <targetReference>What_is_order_status_value</targetReference>
        </connector>
        <inputReference>oOppty</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Uses the field values that are stored in the sObject variable to update the order.

Include this element if you want the new Order to be activated.</description>
        <name>Update_Order</name>
        <label>Activate Order</label>
        <locationX>1305</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>GetBillingProfile</targetReference>
        </connector>
        <inputReference>oOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Billing_profile</name>
        <label>Update Order Billing profile</label>
        <locationX>1239</locationX>
        <locationY>782</locationY>
        <inputReference>oOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Status_to_Draft</name>
        <label>Update Order Status to Draft</label>
        <locationX>274</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Get_Address_Details</targetReference>
        </connector>
        <inputReference>oOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_item</name>
        <label>Update Product item</label>
        <locationX>794</locationX>
        <locationY>954</locationY>
        <connector>
            <targetReference>Looping_Oppnity_Product</targetReference>
        </connector>
        <inputReference>oOrderProduct</inputReference>
    </recordUpdates>
    <startElementReference>Get_Opportunity_Fields</startElementReference>
    <variables>
        <name>listOpptyProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>listOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>oAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>oBillingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>oBillingProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Billing_Profile__c</objectType>
    </variables>
    <variables>
        <name>oContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>oOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oOpptyProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>oOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpptyProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBillAddressID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBillingProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCompAddressID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
