flows/SOA_VOC_Survey_With_Roles-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssigntoCollection</name>
        <label>AssigntoCollection</label>
        <locationX>1198</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>ToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OptyLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOptyCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FetchOpty</name>
        <label>FetchOpty</label>
        <locationX>18</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>varOptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OptyLoopVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOptyOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OptyLoopVariable.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOptyStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OptyLoopVariable.StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FetchRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementCounter</name>
        <label>IncrementCounter</label>
        <locationX>143</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>NoOfContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FetchCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetData</name>
        <label>SetData</label>
        <locationX>1002</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>OptyLoopVariable.Survey_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLoopVariable.Trigger_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLoopVariable.SurveyContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactSingleRecord.Last_Survey_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLoopVariable.Contact_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StoreContactIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTo0</name>
        <label>SetTo0</label>
        <locationX>509</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>NoOfContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FetchCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreContactIDs</name>
        <label>StoreContactIDs</label>
        <locationX>1208</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>ContactCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoCollection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Const_ContactID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0031900000Fztc6</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_StageName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>879</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>LoopOptyCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>EmailID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LastSurveyDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetData</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Primary_Contact_Exists</name>
        <label>Check If Primary Contact Exists</label>
        <locationX>842</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>LoopOptyCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Primary_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact</targetReference>
            </connector>
            <label>Primary Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role_Exists</name>
        <label>Check Role Exists</label>
        <locationX>359</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopOptyCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOptyStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Const_StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_Contact_Roles</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNoOfContacts</name>
        <label>CheckNoOfContacts</label>
        <locationX>350</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>LoopOptyCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SingleContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FetchSingleContactDetails</targetReference>
            </connector>
            <label>SingleContact</label>
        </rules>
        <rules>
            <name>MultipleContacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfContacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FetchMultipleContactDetails</targetReference>
            </connector>
            <label>MultipleContacts</label>
        </rules>
    </decisions>
    <formulas>
        <name>CheckDate</name>
        <dataType>DateTime</dataType>
        <expression>{!LastSurveyDate}+30</expression>
    </formulas>
    <formulas>
        <name>Formula_Roles</name>
        <dataType>Boolean</dataType>
        <expression>OR(CONTAINS({!varOptyRole}, &quot;Campaign Agent&quot;),CONTAINS({!varOptyRole}, &quot;Campaign Lead Dev&quot;),CONTAINS({!varOptyRole}, &quot;Inbound Agent&quot;),CONTAINS({!varOptyRole}, &quot;Market Response Agent&quot;),CONTAINS({!varOptyRole}, &quot;Payroll Inbound Agent&quot;),CONTAINS({!varOptyRole}, &quot;Pipeline Agent&quot;),CONTAINS({!varOptyRole}, &quot;POS Lead Gen&quot;),CONTAINS({!varOptyRole}, &quot;QBO Chat OB&quot;))</expression>
    </formulas>
    <interviewLabel>SOA VOC Survey With Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOA VOC Survey With Roles</label>
    <loops>
        <name>FetchCount</name>
        <label>FetchCount</label>
        <locationX>356</locationX>
        <locationY>370</locationY>
        <assignNextValueToReference>VarOptyContRole</assignNextValueToReference>
        <collectionReference>ListOfOptyContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IncrementCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckNoOfContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOptyCollection</name>
        <label>LoopOptyCollection</label>
        <locationX>20</locationX>
        <locationY>67</locationY>
        <assignNextValueToReference>OptyLoopVariable</assignNextValueToReference>
        <collectionReference>varOptyList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FetchOpty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FastrUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>653</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailID</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactSingleRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastSurveyDate</assignToReference>
            <field>Last_Survey_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FetchMultipleContactDetails</name>
        <label>FetchMultipleContactDetails</label>
        <locationX>608</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Primary_Contact_Exists</targetReference>
        </connector>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOptyId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FetchRole</name>
        <label>FetchRole</label>
        <locationX>196</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Role_Exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOptyOwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varOptyRole</assignToReference>
            <field>Role__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FetchSingleContactDetails</name>
        <label>FetchSingleContactDetails</label>
        <locationX>513</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOptyId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Number_of_Contact_Roles</name>
        <label>Number of Contact Roles</label>
        <locationX>354</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetTo0</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOptyId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>ListOfOptyContactRoles</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>FastrUpdate</name>
        <label>FastrUpdate</label>
        <locationX>1389</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>UpdateContacts</targetReference>
        </connector>
        <inputReference>ToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContacts</name>
        <label>UpdateContacts</label>
        <locationX>1399</locationX>
        <locationY>284</locationY>
        <inputReference>ContactCollectionVar</inputReference>
    </recordUpdates>
    <startElementReference>LoopOptyCollection</startElementReference>
    <variables>
        <name>ContactCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EmailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LastSurveyDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListOfOptyContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>NoOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OptyLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOptyContRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varOptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOptyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOptyOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOptyRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOptyStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
