flows/VOC_Case_Survey_Email-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Profile ! = SOBL Care &amp;&amp; No LookBack</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>SOBL Care &amp; No Lookback &amp;  No User Type</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision13</name>
        <label>myDecision13</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>SOBL Care &amp; Lookback &amp; No User Type</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Profile ! = SOBL Care &amp;&amp; Lookback</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>SOBL Care &amp; No Lookback &amp; User Type</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>SOBL Care &amp; Lookback &amp; User Type</label>
        </rules>
    </decisions>
    <description>Process Builder to replace functionality of CaseSurveyEmail Class</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_11_A1_VOC_Last_emailsent_c</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_VOC_Last_emailsent_c</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_VOC_Last_emailsent_c</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false)) &amp;&amp; [Case].ContactId != null &amp;&amp;  [Case].Contact.Email != null &amp;&amp; NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) ) &amp;&amp; OR([Case].Contact.VOC_Last_emailsent__c == null ,(TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL))),ISBLANK([Case].Contact.VOC_Last_emailsent__c)) &amp;&amp; [Case].Test_Check__c ==  true &amp;&amp; [Case].Trigger_Survey__c == true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false)) &amp;&amp; {!myVariable_current.ContactId} != null &amp;&amp;  {!myVariable_current.Contact.Email} != null &amp;&amp; NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) ) &amp;&amp; OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null ,(TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c})) &amp;&amp; {!myVariable_current.Test_Check__c} ==  true &amp;&amp; {!myVariable_current.Trigger_Survey__c} == true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false)) &amp;&amp; [Case].ContactId != null &amp;&amp;  [Case].Contact.Email != null &amp;&amp; CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp; OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos; ) &amp;&amp; OR([Case].Contact.VOC_Last_emailsent__c == null ,(TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType))),ISBLANK([Case].Contact.VOC_Last_emailsent__c)) &amp;&amp; [Case].Test_Check__c ==  true &amp;&amp; [Case].Trigger_Survey__c == true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false)) &amp;&amp; {!myVariable_current.ContactId} != null &amp;&amp;  {!myVariable_current.Contact.Email} != null &amp;&amp; CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp; OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos; ) &amp;&amp; OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null ,(TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c})) &amp;&amp; {!myVariable_current.Test_Check__c} ==  true &amp;&amp; {!myVariable_current.Trigger_Survey__c} == true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false)) &amp;&amp; [Case].ContactId != null &amp;&amp;  [Case].Contact.Email != null &amp;&amp; CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp; OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos; ) &amp;&amp; NOT(OR([Case].Contact.VOC_Last_emailsent__c == null ,(TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType))),ISBLANK([Case].Contact.VOC_Last_emailsent__c))) &amp;&amp; [Case].Test_Check__c ==  true &amp;&amp; [Case].Trigger_Survey__c == true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false)) &amp;&amp; {!myVariable_current.ContactId} != null &amp;&amp;  {!myVariable_current.Contact.Email} != null &amp;&amp; CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp; OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos; ) &amp;&amp; NOT(OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null ,(TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c}))) &amp;&amp; {!myVariable_current.Test_Check__c} ==  true &amp;&amp; {!myVariable_current.Trigger_Survey__c} == true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false)) &amp;&amp; [Case].ContactId != null &amp;&amp;  [Case].Contact.Email != null &amp;&amp; NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) )  &amp;&amp; NOT(OR([Case].Contact.VOC_Last_emailsent__c == null ,(TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL))),ISBLANK([Case].Contact.VOC_Last_emailsent__c))) &amp;&amp; [Case].Test_Check__c ==  true &amp;&amp; [Case].Trigger_Survey__c == true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false)) &amp;&amp; {!myVariable_current.ContactId} != null &amp;&amp;  {!myVariable_current.Contact.Email} != null &amp;&amp; NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) )  &amp;&amp; NOT(OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null ,(TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c}))) &amp;&amp; {!myVariable_current.Test_Check__c} ==  true &amp;&amp; {!myVariable_current.Trigger_Survey__c} == true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false)) &amp;&amp; [Case].ContactId != null &amp;&amp;  [Case].Contact.Email != null &amp;&amp; CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp; NOT(OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos; )) &amp;&amp; OR([Case].Contact.VOC_Last_emailsent__c == null ,(TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_LookBack_Period_in_Days))),ISBLANK([Case].Contact.VOC_Last_emailsent__c)) &amp;&amp; [Case].Test_Check__c ==  true &amp;&amp; [Case].Trigger_Survey__c == true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false)) &amp;&amp; {!myVariable_current.ContactId} != null &amp;&amp;  {!myVariable_current.Contact.Email} != null &amp;&amp; CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp; NOT(OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos; )) &amp;&amp; OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null ,(TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_LookBack_Period_in_Days))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c})) &amp;&amp; {!myVariable_current.Test_Check__c} ==  true &amp;&amp; {!myVariable_current.Trigger_Survey__c} == true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false)) &amp;&amp; [Case].ContactId != null &amp;&amp;  [Case].Contact.Email != null &amp;&amp; CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp; NOT(OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos; )) &amp;&amp;  NOT(OR([Case].Contact.VOC_Last_emailsent__c == null ,(TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_LookBack_Period_in_Days))),ISBLANK([Case].Contact.VOC_Last_emailsent__c))) &amp;&amp; [Case].Test_Check__c ==  true &amp;&amp; [Case].Trigger_Survey__c == true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false)) &amp;&amp; {!myVariable_current.ContactId} != null &amp;&amp;  {!myVariable_current.Contact.Email} != null &amp;&amp; CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp; NOT(OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos; )) &amp;&amp;  NOT(OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null ,(TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_LookBack_Period_in_Days))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c}))) &amp;&amp; {!myVariable_current.Test_Check__c} ==  true &amp;&amp; {!myVariable_current.Trigger_Survey__c} == true</expression>
    </formulas>
    <interviewLabel>VOC_Case_Survey_Email-4_Case</interviewLabel>
    <label>VOC_Case_Survey_Email</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Contact ID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Update Contact</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contact Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Contact_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send_Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Send_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>VOC_Last_emailsent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>VOC_Last_emailsent__c</field>
            <value>
                <elementReference>formula_12_myRule_11_A1_VOC_Last_emailsent_c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Contact ID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_14_A1</name>
        <label>Update Contact</label>
        <locationX>1400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send_Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Send_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Contact ID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Contact</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contact Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Contact_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send_Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Send_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>VOC_Last_emailsent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>VOC_Last_emailsent__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_VOC_Last_emailsent_c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Contact ID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Update Contact</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send_Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Send_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Contact ID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Update Contact</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contact Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Contact_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send_Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Send_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>VOC_Last_emailsent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>VOC_Last_emailsent__c</field>
            <value>
                <elementReference>formula_7_myRule_6_A1_VOC_Last_emailsent_c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Contact ID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Update Contact</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send_Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Send_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
