flows/VOC_Case_Trigger_Helper-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Closed by Migration User?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Case - Profile != SBOL Care &amp;&amp; No Lookback</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Case - Profile != SOBL Care  &amp;&amp; LookBack Period</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>SOBL Care &amp; No User Type &amp; No LookBack</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>SOBL Care &amp; NO User Type &amp; LookBack Period</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>SOBL Care &amp; No LookBack  &amp; User Type</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Non VOC Survey Profile</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>SOBL Care &amp; LookBack  &amp; User Type</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>IS PCG INTERNAL</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>PCG Within Lookback Period</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>PCG Send Survey - Non Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision28</name>
        <label>myDecision28</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>PCG Send Survey -OnBoarding</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Case - Source is Internal</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Unauthenticated Case?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Case - Contact Email is Null</label>
        </rules>
    </decisions>
    <description>Process Builder to replace functionality of CaseTriggerHelper Class</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS(LOWER($User.Username), &apos;dmigr&apos;) &amp;&amp;  ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(LOWER($User.Username), &apos;dmigr&apos;) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email != null &amp;&amp;  NOT(ISPICKVAL([Case].Origin , &apos;Internal&apos;)) &amp;&amp;  NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) )  &amp;&amp; OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL))),ISBLANK([Case].Contact.VOC_Last_emailsent__c)) &amp;&amp; [Case].Contact.Contact_Check__c == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} != null &amp;&amp;  NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;Internal&apos;)) &amp;&amp;  NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) )  &amp;&amp; OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c})) &amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email != null &amp;&amp;  NOT(ISPICKVAL([Case].Origin , &apos;Internal&apos;)) &amp;&amp;  NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) )  &amp;&amp; NOT(OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL))),ISBLANK([Case].Contact.VOC_Last_emailsent__c))) &amp;&amp; [Case].Contact.Contact_Check__c == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} != null &amp;&amp;  NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;Internal&apos;)) &amp;&amp;  NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) )  &amp;&amp; NOT(OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c}))) &amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false)) &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email != null &amp;&amp;  NOT(ISPICKVAL([Case].Origin , &apos;Internal&apos;)) &amp;&amp;  CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos;) &amp;&amp; OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; [Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType)),ISBLANK([Case].Contact.VOC_Last_emailsent__c))  &amp;&amp; [Case].Contact.Contact_Check__c == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false)) &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} != null &amp;&amp;  NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;Internal&apos;)) &amp;&amp;  CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos;) &amp;&amp; OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; {!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType)),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c}))  &amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email != null &amp;&amp;  NOT(ISPICKVAL([Case].Origin , &apos;Internal&apos;)) &amp;&amp;  CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos;) &amp;&amp; NOT(OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; [Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType)),ISBLANK([Case].Contact.VOC_Last_emailsent__c)))  &amp;&amp; [Case].Contact.Contact_Check__c == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} != null &amp;&amp;  NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;Internal&apos;)) &amp;&amp;  CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos;) &amp;&amp; NOT(OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; {!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType)),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c})))  &amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email != null &amp;&amp;  NOT(ISPICKVAL([Case].Origin , &apos;Internal&apos;)) &amp;&amp;  CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  NOT(OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos;)) &amp;&amp; OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; [Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_LookBack_Period_in_Days)),ISBLANK([Case].Contact.VOC_Last_emailsent__c))   &amp;&amp; [Case].Contact.Contact_Check__c == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} != null &amp;&amp;  NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;Internal&apos;)) &amp;&amp;  CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  NOT(OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos;)) &amp;&amp; OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; {!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_LookBack_Period_in_Days)),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c}))   &amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email != null &amp;&amp;  NOT(ISPICKVAL([Case].Origin , &apos;Internal&apos;)) &amp;&amp;  CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  NOT(OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos;)) &amp;&amp; NOT(OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_LookBack_Period_in_Days))),ISBLANK([Case].Contact.VOC_Last_emailsent__c)))  &amp;&amp; [Case].Contact.Contact_Check__c == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} != null &amp;&amp;  NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;Internal&apos;)) &amp;&amp;  CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  NOT(OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos;)) &amp;&amp; NOT(OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_LookBack_Period_in_Days))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c})))  &amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email != null 
&amp;&amp; [Case].Contact.Contact_Check__c == false
&amp;&amp; CONTAINS($UserRole.Name, &apos;PTG&apos;)
&amp;&amp; NOT(OR((ISPICKVAL([Case].Type,&apos;Getting Started&apos;) &amp;&amp; ISPICKVAL([Case].Area__c,&apos;PCG Onboarding&apos;)), NOT(ISPICKVAL([Case].Origin , &apos;Internal&apos;))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} != null 
&amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false
&amp;&amp; CONTAINS($UserRole.Name, &apos;PTG&apos;)
&amp;&amp; NOT(OR((ISPICKVAL({!myVariable_current.Type},&apos;Getting Started&apos;) &amp;&amp; ISPICKVAL({!myVariable_current.Area__c},&apos;PCG Onboarding&apos;)), NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;Internal&apos;))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email != null 
&amp;&amp; [Case].Contact.Contact_Check__c == false
&amp;&amp; CONTAINS($UserRole.Name, &apos;PTG&apos;)
&amp;&amp; OR((ISPICKVAL([Case].Type,&apos;Getting Started&apos;) &amp;&amp; ISPICKVAL([Case].Area__c,&apos;PCG Onboarding&apos;)), NOT(ISPICKVAL([Case].Origin , &apos;Internal&apos;)))
&amp;&amp; OR((NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) )  &amp;&amp; NOT(OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL_PCG))),ISBLANK([Case].Contact.VOC_Last_emailsent__c)))), 
(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos;) &amp;&amp; NOT(OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; [Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType_PCG)),ISBLANK([Case].Contact.VOC_Last_emailsent__c)))), 
(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  NOT(OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos;)) &amp;&amp; NOT(OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; [Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_LookBack_Period_in_Days_PCG)),ISBLANK([Case].Contact.VOC_Last_emailsent__c)))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} != null 
&amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false
&amp;&amp; CONTAINS($UserRole.Name, &apos;PTG&apos;)
&amp;&amp; OR((ISPICKVAL({!myVariable_current.Type},&apos;Getting Started&apos;) &amp;&amp; ISPICKVAL({!myVariable_current.Area__c},&apos;PCG Onboarding&apos;)), NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;Internal&apos;)))
&amp;&amp; OR((NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) )  &amp;&amp; NOT(OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL_PCG))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c})))), 
(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos;) &amp;&amp; NOT(OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; {!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType_PCG)),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c})))), 
(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  NOT(OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos;)) &amp;&amp; NOT(OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; {!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_LookBack_Period_in_Days_PCG)),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c})))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email != null 
&amp;&amp; [Case].Contact.Contact_Check__c == false
&amp;&amp; CONTAINS($UserRole.Name, &apos;PTG&apos;)
&amp;&amp; NOT((ISPICKVAL([Case].Type,&apos;Getting Started&apos;) &amp;&amp; ISPICKVAL([Case].Area__c,&apos;PCG Onboarding&apos;)))&amp;&amp; NOT(ISPICKVAL([Case].Origin , &apos;Internal&apos;)) &amp;&amp;  OR ((NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) )  &amp;&amp; OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL_PCG))),ISBLANK([Case].Contact.VOC_Last_emailsent__c))), 
(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos;) &amp;&amp; OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; [Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType_PCG)),ISBLANK([Case].Contact.VOC_Last_emailsent__c))), 
(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  NOT(OR([Case].Contact.Accountant_Role__c == null , [Case].Contact.Accountant_Role__c == &apos;&apos;)) &amp;&amp; OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; [Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_LookBack_Period_in_Days_PCG)),ISBLANK([Case].Contact.VOC_Last_emailsent__c)))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} != null 
&amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false
&amp;&amp; CONTAINS($UserRole.Name, &apos;PTG&apos;)
&amp;&amp; NOT((ISPICKVAL({!myVariable_current.Type},&apos;Getting Started&apos;) &amp;&amp; ISPICKVAL({!myVariable_current.Area__c},&apos;PCG Onboarding&apos;)))&amp;&amp; NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;Internal&apos;)) &amp;&amp;  OR ((NOT(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name) )  &amp;&amp; OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_No_SOBL_PCG))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c}))), 
(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos;) &amp;&amp; OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; {!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_SOBL_No_UserType_PCG)),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c}))), 
(CONTAINS($Label.OnlineSurveyProfiles, $Profile.Name)  &amp;&amp;  NOT(OR({!myVariable_current.Contact.Accountant_Role__c} == null , {!myVariable_current.Contact.Accountant_Role__c} == &apos;&apos;)) &amp;&amp; OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; {!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_LookBack_Period_in_Days_PCG)),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c})))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email != null 
&amp;&amp; [Case].Contact.Contact_Check__c == false
&amp;&amp; CONTAINS($UserRole.Name, &apos;PTG&apos;)
&amp;&amp; ISPICKVAL([Case].Type,&apos;Getting Started&apos;) &amp;&amp; ISPICKVAL([Case].Area__c,&apos;PCG Onboarding&apos;)
&amp;&amp; OR([Case].Contact.VOC_Last_emailsent__c == null , (TODAY() &gt; ([Case].Contact.VOC_Last_emailsent__c + VALUE($Label.VOC_Survey_Email_lookback_PCG_Onboarding))),ISBLANK([Case].Contact.VOC_Last_emailsent__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} != null 
&amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false
&amp;&amp; CONTAINS($UserRole.Name, &apos;PTG&apos;)
&amp;&amp; ISPICKVAL({!myVariable_current.Type},&apos;Getting Started&apos;) &amp;&amp; ISPICKVAL({!myVariable_current.Area__c},&apos;PCG Onboarding&apos;)
&amp;&amp; OR({!myVariable_current.Contact.VOC_Last_emailsent__c} == null , (TODAY() &gt; ({!myVariable_current.Contact.VOC_Last_emailsent__c} + VALUE($Label.VOC_Survey_Email_lookback_PCG_Onboarding))),ISBLANK({!myVariable_current.Contact.VOC_Last_emailsent__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;)) &amp;&amp; CONTAINS($Label.ProfileToExcludeVOCSurvey ,$Profile.Name) &amp;&amp;  ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;)) &amp;&amp; CONTAINS($Label.ProfileToExcludeVOCSurvey ,$Profile.Name) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp;  ISPICKVAL([Case].Origin , &apos;Internal&apos;) &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp;  ISPICKVAL({!myVariable_current.Origin} , &apos;Internal&apos;) &amp;&amp; NOT(CONTAINS($UserRole.Name, &apos;PTG&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId   == null &amp;&amp; [Case].SuppliedEmail != null &amp;&amp;  [Case].SuppliedEmail != &apos;&apos;  &amp;&amp; [Case].Suppress_Survey_Retrigger__c ==False</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}   == null &amp;&amp; {!myVariable_current.SuppliedEmail} != null &amp;&amp;  {!myVariable_current.SuppliedEmail} != &apos;&apos;  &amp;&amp; {!myVariable_current.Suppress_Survey_Retrigger__c} ==False</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL([Case].Status, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE([Case].Status) != &apos;Closed&apos; , true , false))  &amp;&amp; [Case].ContactId  != null &amp;&amp; [Case].Contact.Email == null  &amp;&amp; [Case].Contact.Contact_Check__c == false</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(LOWER($User.Username), &apos;dmigr&apos;)) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) &amp;&amp; IF(ISNEW(),true,if(PRIORVALUE({!myVariable_current.Status}) != &apos;Closed&apos; , true , false))  &amp;&amp; {!myVariable_current.ContactId}  != null &amp;&amp; {!myVariable_current.Contact.Email} == null  &amp;&amp; {!myVariable_current.Contact.Contact_Check__c} == false</expression>
    </formulas>
    <interviewLabel>VOC_Case_Trigger_Helper-11_Case</interviewLabel>
    <label>VOC_Case_Trigger_Helper</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Update Trigger Survey</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Update Trigger Survey</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
            <value>
                <stringValue>Survey Not Triggered - Within Lookback Period</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Update Trigger Survey</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Update Trigger Survey</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
            <value>
                <stringValue>Survey Not Triggered - Within Lookback Period</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Update Trigger Survey</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Trigger Survey</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
            <value>
                <stringValue>Survey Not Triggered - Closed by Migration User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Update Records</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
            <value>
                <stringValue>Survey Not Triggered - Within Lookback Period</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Update Records</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
            <value>
                <stringValue>Survey Not Triggered - Internal Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>Update Records</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
            <value>
                <stringValue>Survey Not Triggered - Within Lookback Period</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Update Records</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A1</name>
        <label>Update Records</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update Trigger Survey</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
            <value>
                <stringValue>Survey Not Triggered - Closed by Non VOC Survey Profile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update Trigger Survey</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
            <value>
                <stringValue>Survey Not Triggered - Internal Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Update Trigger Survey</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Update Trigger Survey</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Exemption Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Exemption_Reason__c</field>
            <value>
                <stringValue>Survey Not Triggered - Email Address not found on Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Survey__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
